<table class="table">
    <thead>
        <tr>
            <th> UserId </th>
            <th> Name </th> 
            <th> Phone </th>
            <th> Email </th>
            <th> Address </th> 
            <th> Account Number </th>
            <th> IFSC Code </th>
            <th> Card Type </th>
            <th> Verified User </th>
        </tr>
    </thead>

    <tr *ngFor="let u of userLoginDetailsList">
        <td> {{u.userId}} </td>
        <td> {{u.name}} </td>
        <td> {{u.phone}} </td>
        <td> {{u.userEmail}} </td>
        <td> {{u.address}} </td>
        <td> {{u.account_number}} </td>
        <td> {{u.ifsc_code}} </td>
        <td> {{u.cardType}} </td>
        <td> {{u.is_verified}} </td>
        <td> 
            <button type="submit" class="btn" (click)="verifyUser(u)" > Verify User </button>
        </td>
        <!-- <td> <a routerLink="/details/{{c.id}}" class="btn btn-warning"> Details </a> </td>
        <td> <a routerLink="/edit/{{c.id}}" class="btn btn-warning"> Edit </a> </td>
        <td> <a (click)="delete(c.id)" href="javascript:void()"> Delete </a> </td> -->
    </tr>
</table>
<style>
    .table{
        border : 2px solid black;
    }
    .btn{
        color: black;
    }
</style>
