<ul>
    <!-- <li> <a routerLink="userList"> List of Users </a> </li> -->
    <!-- <li> <a routerLink="userLoginDetailsList"> List of Users with Login Details </a> </li> -->
    <!-- <li> <a routerLink="addUser"> Registration Page </a> </li>
    <li> <a routerLink="userLogin"> Login Page </a> </li> -->
    <!-- <li> <a routerLink="adminLogin"> Admin Login Page </a> </li>
    <li> <a routerLink="forgotPassword"> Forgot Password? </a> </li> -->
    <!-- <li> <a routerLink="homePage"> Home Page </a> </li> -->
    <!-- <li> <a routerLink="product"> Product Detail Page </a> </li> -->

</ul>
<router-outlet></router-outlet>